{% extends 'admin/master.html' %}

{% block body %}
<div class="container">
    <h3>Зміна пароля адміністратора</h3>
    <form method="POST" action="">
        <div class="form-group">
            <label>Новий пароль</label>
            <input type="password" name="new_password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Зберегти</button>
        <a href="{{ url_for('admin.index') }}" class="btn btn-default">Скасувати</a>
    </form>
</div>
{% endblock %}